.box {
  border: 1px solid rgba(#000, .05);
  color: $body-font-color;
  display: block;
  height: 100%;
  padding: $margin;
  position: relative;
  box-shadow: 10px 10px 5px grey;

  p {
    font-size: 150%;
  }
}
