.margin-top-x-small { margin-top: $margin-x-small; }
.margin-top-small { margin-top: $margin-small; }
.margin-top { margin-top: $margin; }
.margin-top-large { margin-top: $margin-large; }
.margin-top-x-large { margin-top: $margin-x-large; }
.margin-right-x-small { margin-right: $margin-x-small; }
.margin-right-small { margin-right: $margin-small; }
.margin-right { margin-right: $margin; }
.margin-right-large { margin-right: $margin-large; }
.margin-right-x-large { margin-right: $margin-x-large; }
.margin-bottom-x-small { margin-bottom: $margin-x-small; }
.margin-bottom-small { margin-bottom: $margin-small; }
.margin-bottom { margin-bottom: $margin; }
.margin-bottom-large { margin-bottom: $margin-large; }
.margin-bottom-x-large { margin-bottom: $margin-x-large; }
.margin-left-x-small { margin-left: $margin-x-small; }
.margin-left-small { margin-left: $margin-small; }
.margin-left { margin-left: $margin; }
.margin-left-large { margin-left: $margin-large; }
.margin-left-x-large { margin-left: $margin-x-large; }
