// Margins
.nuxeo-space-top-x-small { margin-top: $nuxeo-space-x-small; }
.nuxeo-space-top-small { margin-top: $nuxeo-space-small; }
.nuxeo-space-top { margin-top: $nuxeo-space; }
.nuxeo-space-top-large { margin-top: $nuxeo-space-large; }
.nuxeo-space-top-x-large { margin-top: $nuxeo-space-x-large; }
.nuxeo-space-right-x-small { margin-right: $nuxeo-space-x-small; }
.nuxeo-space-right-small { margin-right: $nuxeo-space-small; }
.nuxeo-space-right { margin-right: $nuxeo-space; }
.nuxeo-space-right-large { margin-right: $nuxeo-space-large; }
.nuxeo-space-right-x-large { margin-right: $nuxeo-space-x-large; }
.nuxeo-space-bottom-x-small { margin-bottom: $nuxeo-space-x-small; }
.nuxeo-space-bottom-small { margin-bottom: $nuxeo-space-small; }
.nuxeo-space-bottom { margin-bottom: $nuxeo-space; }
.nuxeo-space-bottom-large { margin-bottom: $nuxeo-space-large; }
.nuxeo-space-bottom-x-large { margin-bottom: $nuxeo-space-x-large; }
.nuxeo-space-left-x-small { margin-left: $nuxeo-space-x-small; }
.nuxeo-space-left-small { margin-left: $nuxeo-space-small; }
.nuxeo-space-left { margin-left: $nuxeo-space; }
.nuxeo-space-left-large { margin-left: $nuxeo-space-large; }
.nuxeo-space-left-x-large { margin-left: $nuxeo-space-x-large; }
